*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img{
    max-height: 34px;
}

/* ============ TYPOGRAPHY ================ */



/* ============ LAYOUT ================ */
body{
    background-color: #d6ccc2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
}

.main-container{
    background-color:#a2d2ff ;
    min-height: 50vh;
    max-width:100%;
    padding:2em;
}

.amount{
    margin:1.5em 0;
}

.amount-placeholder{
    height: 40px;
    width: 100%;
}

.select-main-container{
    display: flex;
    align-items: center;
    margin:2em 0;
}

.arrow{
    margin: 0 3em;
}

.select{
    display: flex;
    align-items: center;
    border:.5px solid black;
    border-radius: 5px;
    
}

.select-dropdown{
    background-color:#a2d2ff ;
    border: none;
}







