*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img{
    max-height: 34px;
}

/* ============ TYPOGRAPHY ================ */



/* ============ LAYOUT ================ */
body{
    background-color: #d6ccc2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
}

.main-container{
    background-color: aliceblue;
    min-height: 50vh;
    max-width:100%;
    padding:2em;
}

.amount{
    margin:1.5em 0;
}

.amount-placeholder{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border:1px solid black;
    padding-left:1em;
}

.select-main-container{
    display: flex;
    align-items: center;
    margin:2em 0;
}

.arrow{
    margin: 0 3em;
}

.select{
    display: flex;
    align-items: center;
    border:.5px solid black;
    border-radius: 5px;
    
}

.select-dropdown{
    background-color: aliceblue;
    border: none;
    cursor: pointer;
}


.msg{
    margin: 1em 0;
}

.exchange-btn{
    height: 35px;
    width: 100%;
    border:1px solid black;
    border-radius: 5px;
   background-color: #6a994e;
   color:white;
   cursor: pointer;
}






